
#register{

margin: 0px 1px 3px 0px;
background: rgb(247, 247, 247);
border: 1px solid rgba(147, 184, 189,0.8);
    width: 95%;
    padding: 0px 8px 0px 10px  ;
    margin-left: auto;

    margin-right: auto;
}
	
	
#err{
color: red;

    position: relative;
    margin-top: -25px;
}

#blue{
    color: blue;


}

#bucket{
float: right;
margin-top: 63px;

}

#wide{
    width: 200px;
}

#reguser{
	float: left;
}


#top{
    background: url(../img/top.png) no-repeat right;
    height: 181px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    position: relative;
}
#main{
    margin:0 auto;
    width: 800px;

    margin-top: 1px;
    padding-top: 0px;

}


#Block{
    min-height: 470px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 1px;
    padding-top: 0px;
    background: #f13f3a;
}

#logo{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
}
#regField{
     width: 30%;
     margin-left: auto;
     margin-right: auto;

 }



#logotip{
    height: 45px;
}

#nouser{


position: relative;
    top: 80px;
    margin-left: 10px;

    width: 300px;



}

#clr{
    /*clear: both;*/
}

body{
    margin: 0px;

}

#navigation{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

#products{
    width: 80%;

}

#product{
    padding: 1px;
    width: 29%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 15px;
    height: auto;
    height: 180px;
    border-width: 1px;
    border-style: solid;
    background-color: white;
}

h2{
    float: left;
    padding: 1px;
    margin: 1px;
}

h3{
    float: left;
    padding: 1px;
    margin: 5px;
    font-size: 14px;
}

#imgitem{
     clear: both;
     margin-left: auto;
     margin-right: auto;
     max-width: 130px ;
     padding: 1px;
     max-height: 120px;
 }

.cen{

}

#imgBig{



    width: 350px;

    border-color: brown ;
    border-width: 3px;
    border-style: dashed;
    float: left;
    margin: 5px;

}
#showName{
    font-size: 20px;
    background-color: #8a292d;
    width: 98%;
    float: right;
    height: 38px;
    margin-right: 3px;
    margin-top: 5px;
    color: white;

}

#specyfication{
    float: left;
    max-width: 270px;
    margin: 5px;
    min-width: 250px;
}

#speclogo{
    width: 24px;
    height:24px;
}

#detail{
    max-width: 95%;
    float: left;
    margin: 10px;
}

#justLeft{
    float: left;
    margin: 0px;
}

#justRight{
    float: right;
    margin: 0px;
}

#bucketItems{
    border-style: dashed;
    border-width: 1px;
    border-color: brown;
    min-height: 130px;
    float: left;
    width: 98%;
    margin-left: 8px;
    margin-top: 0;
    position: relative;
}
#price{
    color: brown;
    float: left;
    margin: 0px;
}

#pageBlock{
    min-height: 469px;
    width: 79%;
    display: inline-block;
    vertical-align: top;
    background: #ffdad8;
    border-left:solid 1px #000;
}



#button {
    padding: 0 0 1em 0;
    margin-bottom: 1em;
    font-family: 'Trebuchet MS', 'Lucida Grande',
    Verdana, Lucida, Geneva, Helvetica,
    Arial, sans-serif;
    background-color: #f13f3a;
    color: #333;
}

#button ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

#button li {
    border-bottom: 1px solid #90bade;
    margin: 0;
}

#button li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #b70814;
    ;
    background-color: #f13f3a;
    color: #fff;
    text-decoration: none;
    width: 100%;
}
html>body #button li a {
      width: auto;
  }
#button li a:hover {
    border-left: 10px solid #b70814;
    border-right: 10px solid #ee2b29;
    background-color: #d9372c;
    color: #000;
}

#order{
    margin: 10px;
}
button.orderCancel{
right: 20px;
    bottom: 10px;
    position: absolute;
    background-color: #b70814;
    color: white;
}

button.orderConfirm{
    right: 120px;
    bottom: 10px;
    position: absolute;
    background-color: #5bd84c;

}


.dropbtn {
     background-color: #f14c53;
     color: white;
     padding: 12px;
     font-size: 16px;
     border: none;
     cursor: pointer;
    min-width: 160px;
 }


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #d9372c;
}

#astyle{
    color: #FFFFFF;
    text-decoration: none;
}

#search {
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 10px;
}